body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    --background-color: #242424;
    --color-primary: #fff;
    --color-secondary: #4bffa5;
    background-color: var(--background-color);
}
.top-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-color);
    color: var(--color-primary);
    margin-bottom: 6rem;
}

.list__item {
    padding: 1rem;
    font-size: 1.5rem;
}

.list__item:hover {
    color: var(--color-secondary);
}

.portfolio {
    font-size: 2rem;
    font-weight: 500;
}

.home {
    color: var(--color-secondary);
}
/* main body */
.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}
span {
    display: inline-block;
}
.intro__text {
    color: #fff;
    padding: 1.4rem;
}

.hello{
    font-size: 3rem;
    font-weight: 500;
    margin-left: 4rem;
}
.name {
    font-weight: 700;
    font-size: 4rem;
}
.backend {
    color: var(--color-secondary);
    font-size: 2rem;
    font-weight: 500;
}

.img {
    /* object-fit: cover;
    height: 60rem;
    width: 34rem; */
    margin-top: 7rem;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}
/* BUTTON */
.btn {
    padding: 1.5rem 7rem;
    background: var(--color-secondary);
    border: 0;
    border-radius: 70px;
    font-size: 1.2rem;
    margin-top: 3rem;
    transition: background-color .3s;
}

.btn:hover {
    color: var(--color-secondary);
    background-color: var(--background-color);
    border: 1px solid var(--color-secondary);
    cursor: pointer;
}

.bottom__hr {
    margin-top: 3rem;
    width: 70%;
}

/* media queries */

