body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    --background-color: #242424;
    --color-primary: #fff;
    --color-secondary: #4bffa5;
    background-color: var(--background-color);
}
a {
    text-decoration: none;
}
.top-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-color);
    color: var(--color-primary);
    margin-bottom: 6rem;
}

.nav__item {
    padding: 1rem;
    font-size: 1.5rem;
    transition: color .3s;
    color: var(--color-primary);
}

.nav__item:hover {
    color: var(--color-secondary);
}

.portfolio {
    font-size: 1.5rem;
    font-weight: 500;
    /* margin: 0; */
    display: inline;
}

.home {
    color: var(--color-secondary);
}
.menu-icon {
    color: #fff;
}

/* main-body */
.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body__text {
    color: var(--color-primary);
}
.backend {
    color: var(--color-secondary);
}
.hello {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.name {
    font-size: 4rem;
    margin: 0;
}
.backend {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1.6rem;
}

.img {
    margin: 3rem;
    width: 100%;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}
/* Button
.btn {
    box-shadow: 0 0 10px #4bffa5;
    background-color: var(--color-secondary);
    color: #000;
    padding: 1rem 3rem;
    border-radius: 55px;
    font-weight: 450;
}
.btn:hover {
    background-color: var(--background-color);
    border: 1.3px solid var(--color-secondary);
    box-shadow: 0;
} */
/* Tablets */
@media screen and (min-width:768px) {
    .top-nav {
        flex-direction: row;
        justify-content: center;

    }
    .nav__item {
        font-size: 1.2rem;
    }
    .img {
        width: 70%;
    }
}

/* Desktop */
@media screen and (min-width:1024px) {
    .top-nav {
        flex-direction: row;
        justify-content: flex-end;
        margin: 1.2rem 6.5rem 0 0;
    }
    .nav__item {
        font-size: 1.1rem;
    }
    /* .portfolio {
        box-sizing: border-box;
        margin-right: 30rem;
    } */
    .main-body {
        flex-direction: row;
    }
    .img {
        width: 48%;
        padding-left: 7rem;
    }
    .bd-text {
        margin-left: 6rem;
    }
}



